.App {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.admin-ui {
  &-pagination {
    button {
      font-size: large;
    }

    .hightlight {
      background-color: rgb(0, 136, 255);
    }
  }
}
